@import url("https://fonts.googleapis.com/css?family=Plaster&display=swap");

.ui {
  border-radius: 0px !important;
}

.menu {
  border-radius: 0px !important;
  background-color: rgb(4, 3, 6) !important;
}

.item {
  color: white !important;
}

.main_heading {
  font-family: "Plaster", cursive;
  font-size: 20px;
}

#reddit:hover {
  color: #ff4500;
  transition-duration: 500ms;
}
#reddit {
  transition-duration: 500ms;
}

#hackernews:hover {
  color: #ff6600;
  transition-duration: 500ms;
}
#hackernews {
  transition-duration: 500ms;
}

#producthunt:hover {
  color: #da552f;
  transition-duration: 500ms;
}
#producthunt {
  transition-duration: 500ms;
}

#youtube:hover {
  color: #ff0000;
  transition-duration: 500ms;
}
#youtube {
  transition-duration: 500ms;
}

#twitter:hover {
  color: #1da1f2;
  transition-duration: 500ms;
}
#twitter {
  transition-duration: 500ms;
}

#youtube_description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 900px;
}

#github:hover {
  color: #6e5494;
  transition-duration: 500ms;
}
#github {
  transition-duration: 500ms;
}

#newspaper:hover {
  color: lightgrey;
  transition-duration: 500ms;
}
#newspaper {
  transition-duration: 500ms;
}

#google:hover {
  color: #0F9D58;
  transition-duration: 500ms;
}
#google {
  transition-duration: 500ms;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#loader-background {
  background-color: #000000;
}