<style>
  #sidebar {
    position: fixed;
    height: 100vh;
    background-color: #f5f5f5;
    padding-top: 68px;
    padding-left: 0;
    padding-right: 0;
  }
  #sidebar .ui.menu>a.item {
    padding: 10px 20px;
    line-height: 20px;
    color: darkgreen;
    border-radius: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
  }
  #sidebar .ui.menu>a.item.active {
    background-color: #21BA45;
    color: white;
    border: none !important;
  }
  #sidebar .ui.menu>a.item:hover {
    background-color: #eee;
    color: darkgreen;
  }
  #content {
    padding-top: 56px;
    padding-left: 51px;
    padding-right: -30px;
  }
  #content h1 {
    font-size: 36px;
  }
  #content .ui.dividing.header {
    width: 100%;
  }
  .ui.centered.small.circular.image {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .ui.mobile.only.grid .ui.menu .ui.vertical.menu {
    display: none;
  }
  #menu {
    background-color: black;
  }
</style>

<div class="ui computer only padded grid">
  <div class="ui container">
    <div class="one wide column">
      <div class="ui left fixed vertical labeled icon menu">
        <div class="item" id="main_heading">
          <h1 class="main_heading">
            NewsAPPi
          </h1>
        </div>
        <br>
        <br>
        <br>
        <a class="item" href="/news">
          <i class="far fa-newspaper fa-2x" id="newspaper"></i>
        </a>
        <a class="item" href="/reddit">
          <i class="fab fa-reddit fa-2x" id="reddit"></i>
        </a>
        <a class="item" href="/google">
          <i class="fab fa-google fa-2x" id="google"></i>
        </a>
        <a class="item" href="/youtube">
          <i class="fab fa-youtube fa-2x" id="youtube"></i>
        </a>
        <a class="item" href="/hacker-news">
          <i class="fab fa-hacker-news-square fa-2x" id="hackernews"></i>
        </a>
        <a class="item" href="/product-hunt">
          <i class="fab fa-product-hunt fa-2x" id="producthunt"></i>
        </a>
        <a class="item" href="/github">
          <i class="fab fa-github fa-2x" id="github"></i>
        </a>
      </div>
    </div>
    <div class="fifteen wide column" id="content">
      {{outlet}}
    </div>
  </div>
</div>

<script>
  function toggleSidebar() {
    $('.ui.labeled.icon.sidebar').sidebar('toggle');
  }
</script>

<div class="ui tablet mobile only padded grid" id="body">
  <div class="ui inverted borderless massive top fixed fluid menu" id="menu">
    <div class="item">
      <button class="ui icon toggle basic inverted button" onclick="toggleSidebar()" type="button">
        <i class="content icon"></i>
      </button>
    </div>
    <div class="right menu">
      <div class="header item" id="main_heading">
        <h1 class="main_heading">
          NewsAPPi
        </h1>
      </div>
    </div>
  </div>
  <div class="ui left demo vertical inverted sidebar labeled icon menu" id="sidebar">
    <a class="item" href="/news">
      <i class="far fa-newspaper fa-2x" id="newspaper"></i>
    </a>
    <a class="item" href="/reddit">
      <i class="fab fa-reddit fa-2x" id="reddit"></i>
    </a>
    <a class="item" href="/google">
      <i class="fab fa-google fa-2x" id="google"></i>
    </a>
    <a class="item" href="/youtube">
      <i class="fab fa-youtube fa-2x" id="youtube"></i>
    </a>
    <a class="item" href="/hacker-news">
      <i class="fab fa-hacker-news-square fa-2x" id="hackernews"></i>
    </a>
    <a class="item" href="/product-hunt">
      <i class="fab fa-product-hunt fa-2x" id="producthunt"></i>
    </a>
    <a class="item" href="/github">
      <i class="fab fa-github fa-2x" id="github"></i>
    </a>
  </div>
  <div class="ui container">
    {{outlet}}
  </div>
</div>
{{ember-load-remover}}